@import "./variables";
#home{
    margin: 290px 0;
    .home_section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1220px) {
            flex-direction: column;
            text-align: center;
            gap: 40px;
        }
    }
    .home_text{
        display: flex;
        flex-direction: column;
        gap: 40px;
        @media (max-width: 1220px) {
            align-items: center;
            width: 100%;
        }
    }
    h1{
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 80px;
        width: 680px;
        @media (max-width: 1160px) {
            font-size: 2.8rem;
            line-height: 60px;
        }
        @media (max-width: 1220px) {
            width: 100%;
        }
    }
    p{
        font-size: 1.2rem;
        color: $pColor;
        width: 540px;
        @media (max-width: 1220px) {
            width: 100%;
        }
    }
    form{
        display: flex;
        @media (max-width: 1220px) {
            width: 100%;
        }
        input{
            padding: 25px 35px;
            font-size: 1.1rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            outline: none;
            border: 1px solid $btnbgColor;
            @media (max-width: 1220px) {
                width: 100%;
            }
        }
        .btn{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}