@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Noto Serif", serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 14px;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid #13A6BA;
  color: #13A6BA !important;
}
.btn:hover {
  transition: all 0.6s ease-in-out;
  background-color: #13A6BA;
  color: #fff !important;
}

#navbar {
  background-color: #FBEDDA;
  position: sticky;
  z-index: 99;
  top: 0;
}
#navbar .navbar_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 20px;
}
#navbar .navbar_menu {
  display: flex;
  gap: 107px;
  align-items: center;
}
@media (max-width: 1130px) {
  #navbar .navbar_menu {
    gap: 50px;
  }
}
@media (max-width: 820px) {
  #navbar .navbar_menu {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  #navbar .navbar_menu {
    width: 100vw;
    height: calc(100vh - 80px);
    position: fixed;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: -100vw;
    row-gap: 20px;
    background-color: #FBEDDA;
    transition: all 0.6s ease-in-out;
  }
}
#navbar ul {
  display: flex;
  gap: 70px;
}
@media (max-width: 1130px) {
  #navbar ul {
    gap: 30px;
  }
}
@media (max-width: 820px) {
  #navbar ul {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    row-gap: 20px;
  }
}
#navbar a {
  color: #021112;
  font-weight: 400;
  font-size: 1.1rem;
}
#navbar #check {
  display: none;
}
#navbar label {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  #navbar label {
    display: block;
  }
}
#navbar #check:checked ~ .navbar_menu {
  left: 0;
}

#showcase {
  padding-top: 151px;
  background-color: #FBEDDA;
}
#showcase img {
  width: 100%;
}
@media (max-width: 888px) {
  #showcase {
    padding-top: 60px;
  }
}
#showcase .showcase_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
@media (max-width: 1150px) {
  #showcase .showcase_section {
    row-gap: 15px;
  }
}
#showcase h1 {
  font-size: 5rem;
  text-align: center;
  width: 988px;
  font-weight: 700;
}
@media (max-width: 1150px) {
  #showcase h1 {
    font-size: 4rem;
    width: 790px;
  }
}
@media (max-width: 888px) {
  #showcase h1 {
    font-size: 3.5rem;
    width: 685px;
  }
}
@media (max-width: 768px) {
  #showcase h1 {
    font-size: 3rem;
    width: 600px;
  }
}
@media (max-width: 700px) {
  #showcase h1 {
    font-size: 2.5rem;
    width: 490px;
  }
}
@media (max-width: 500px) {
  #showcase h1 {
    font-size: 1.8rem;
    width: 100%;
  }
}
#showcase p {
  font-size: 1.25rem;
  color: #677071;
  text-align: center;
}
@media (max-width: 888px) {
  #showcase p {
    font-size: 1rem;
  }
}
#showcase .showcase_boxs {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 45px 54px;
  border-radius: 20px;
  margin-top: 132px;
}
@media (max-width: 888px) {
  #showcase .showcase_boxs {
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  #showcase .showcase_boxs {
    width: 100vw;
    border-radius: 0;
    margin-top: 30px;
    padding: 54px 0;
  }
}
#showcase .showcase_box_up {
  display: flex;
  gap: 80px;
}
@media (max-width: 480px) {
  #showcase .showcase_box_up {
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 300px) {
  #showcase .showcase_box_up {
    gap: 10px;
  }
}
#showcase .showcase_box_up a {
  font-size: 1.5rem;
  color: #CCCFD0;
  padding: 0 5px 30px;
  border-bottom: 2px solid #fff;
  border-radius: 2px;
}
#showcase .showcase_box_up a:hover {
  border-bottom: 2px solid #021112;
  color: #021112;
}
#showcase .showcase_bottom_boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  row-gap: 40px;
  flex-wrap: wrap;
}
@media (max-width: 888px) {
  #showcase .showcase_bottom_boxs {
    flex-direction: column;
  }
}
#showcase .showcase_bottom_box {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-top: 35px;
  position: relative;
  z-index: 0;
}
#showcase .after::after {
  position: absolute;
  right: -50px;
  top: 50px;
  content: "";
  width: 1px;
  height: 50px;
  background-color: #677071;
}
@media (max-width: 1090px) {
  #showcase .after::after {
    height: 1px;
    width: 100px;
    right: 40px;
    top: 140px;
  }
}
#showcase .box_icon {
  display: flex;
  align-items: center;
  gap: 13px;
}
#showcase .box_icon p {
  font-size: 1.15rem;
  color: #CCCFD0;
}
#showcase h3 {
  padding-left: 23px;
  font-size: 2.25rem;
}
#showcase .btn {
  padding: 20px 45px;
  font-size: 1.75rem;
  border-radius: 20px;
}

#properties {
  margin: 290px 0;
}
#properties .properties_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#properties .properties_title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 840px) {
  #properties .properties_title {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 490px) {
  #properties .properties_title {
    text-align: center;
  }
}
#properties h1 {
  font-size: 3.6rem;
  color: #021112;
  font-weight: 700;
  line-height: 91px;
}
@media (max-width: 650px) {
  #properties .title {
    font-size: 3rem;
  }
}
@media (max-width: 640px) {
  #properties .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 490px) {
  #properties .title {
    text-align: center;
    line-height: 50px;
  }
}
#properties p {
  font-size: 1.1rem;
  color: #677071;
}
#properties form {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#properties form label {
  padding-right: 30px;
  color: #CCCFD0;
  font-size: 1.2rem;
}
#properties form label:hover {
  color: #021112;
  transition: 0.6s ease-in-out;
}
@media (max-width: 367px) {
  #properties form label {
    padding-right: 10px;
  }
}
#properties .properties_boxes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 1020px) {
  #properties .properties_boxes {
    flex-wrap: wrap;
  }
}
#properties .properties_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 35px;
  border-radius: 40px;
}
#properties .properties_box:hover {
  box-shadow: 2px 4px 55px 0px rgba(0, 0, 0, 0.1098039216);
  transition: all 0.6s ease-in-out;
}
@media (max-width: 450px) {
  #properties .properties_box {
    padding: 20px;
  }
}
@media (max-width: 984px) {
  #properties .properties_box {
    border-radius: 25px;
  }
}
#properties .properties_box img {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 335px;
}
@media (max-width: 450px) {
  #properties .properties_box img {
    width: 100%;
  }
}
#properties .properties_box h1 {
  text-align: left;
}
@media (max-width: 380px) {
  #properties .properties_box h1 {
    font-size: 3rem;
  }
}
@media (max-width: 290px) {
  #properties .properties_box h1 {
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  #properties .properties_box p {
    font-size: 1rem;
  }
}
#properties h2 {
  font-size: 1.85rem;
  font-weight: 700;
  color: #021112;
}
@media (max-width: 450px) {
  #properties h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 380px) {
  #properties h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 330px) {
  #properties h2 {
    font-size: 1.1rem;
  }
}
#properties .properties_box_noted {
  display: flex;
  gap: 45px;
}
@media (max-width: 1220px) {
  #properties .properties_box_noted {
    gap: 30px;
  }
}
@media (max-width: 291px) {
  #properties .properties_box_noted {
    flex-direction: column;
    align-items: center;
  }
}
#properties h6 {
  color: #CCCFD0;
  font-size: 1.1rem;
  margin-bottom: 35px;
}
@media (max-width: 1220px) {
  #properties h6 {
    font-size: 1rem;
  }
}
#properties .after {
  position: relative;
  z-index: 0;
}
#properties .after::after {
  content: "";
  position: absolute;
  width: 0.5px;
  height: 19px;
  background-color: #CCCFD0;
  right: -20px;
  top: 4px;
}
@media (max-width: 1220px) {
  #properties .after::after {
    right: -15px;
    top: 2px;
  }
}
@media (max-width: 291px) {
  #properties .after::after {
    height: 0.5px;
    width: 80px;
    top: 50px;
  }
}
#properties .btn {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px 0;
}

#benefit .benefit_section {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1090px) {
  #benefit .benefit_section {
    flex-direction: column;
  }
}
#benefit .benefit_img {
  width: 50%;
  position: relative;
  z-index: 0;
}
@media (max-width: 1090px) {
  #benefit .benefit_img {
    width: 100%;
    order: 2;
  }
}
#benefit .benefit_img img {
  width: 100%;
}
#benefit .benefit_img_position {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 40px;
  left: -80px;
  background-color: #fff;
  padding: 35px;
  border-radius: 20px;
}
#benefit .benefit_img_position:hover {
  box-shadow: -12px 16px 46px 0px rgba(0, 0, 0, 0.0784313725);
}
#benefit .benefit_img_position h1 {
  font-size: 1.4rem;
  font-weight: 700;
}
#benefit .benefit_img_position p {
  font-size: 0.8rem;
}
#benefit .position_img {
  display: flex;
  gap: 15px;
}
#benefit .position_img img {
  width: 70px;
  border-radius: 5px;
}
#benefit .benefit_text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;
}
@media (max-width: 1090px) {
  #benefit .benefit_text {
    width: 100%;
    align-items: center;
    order: 1;
  }
}
#benefit h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: #021112;
}
@media (max-width: 1515px) {
  #benefit h1 {
    font-size: 3.3rem;
  }
}
@media (max-width: 1390px) {
  #benefit h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1270px) {
  #benefit h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 1090px) {
  #benefit h1 {
    text-align: center;
  }
}
#benefit .benefit_boxes {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
#benefit .benefit_box {
  display: flex;
  gap: 25px;
}
#benefit .benefit_box img {
  background-color: #FBFCED;
  padding: 27px 33px;
  border-radius: 10px;
}
#benefit .benefit_box_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#benefit h2 {
  font-size: 2.25rem;
  color: #021112;
  font-weight: 700;
}
#benefit p {
  font-size: 1.25rem;
  color: #677071;
}

#sandiego {
  margin: 200px 0 300px;
}
#sandiego .sandiego_section {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  #sandiego .sandiego_section {
    flex-direction: column;
  }
}
#sandiego .sandiego_text {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 60%;
}
@media (max-width: 768px) {
  #sandiego .sandiego_text {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
#sandiego .sandiego_text p {
  font-size: 1.1rem;
  color: #677071;
  width: 475px;
  line-height: 38px;
}
@media (max-width: 1050px) {
  #sandiego .sandiego_text p {
    font-size: 1rem;
    width: 430px;
  }
}
@media (max-width: 768px) {
  #sandiego .sandiego_text p {
    width: 100%;
  }
}
#sandiego h1 {
  width: 690px;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 91px;
  width: 531px;
}
@media (max-width: 1050px) {
  #sandiego h1 {
    font-size: 2.5rem;
    width: 420px;
    line-height: 60px;
  }
}
@media (max-width: 768px) {
  #sandiego h1 {
    width: 100%;
  }
}
#sandiego .sandiego_img {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px 30px;
}
#sandiego .sandiego_img:hover {
  box-shadow: 8px 27px 69px 0px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 1000px) {
  #sandiego .sandiego_img {
    width: 100%;
  }
}
#sandiego .first_img {
  width: 100%;
}
#sandiego .sandiego_text_boxes {
  display: flex;
  gap: 80px;
}
@media (max-width: 500px) {
  #sandiego .sandiego_text_boxes {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}
#sandiego .sandiego_text_box h2 {
  font-size: 2.2rem;
  color: #021112;
  font-weight: 700;
}
#sandiego .sandiego_text_box h3 {
  color: #677071;
}
#sandiego .sandiego_img_title {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  #sandiego .sandiego_img_title {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  #sandiego .sandiego_img_title h4 {
    padding-top: 80px;
  }
}
#sandiego .title_img {
  position: relative;
  z-index: 0;
}
#sandiego .title_img .img1 {
  position: absolute;
  top: -10px;
}
#sandiego .title_img .img2 {
  position: absolute;
  left: 26px;
  top: -10px;
}
#sandiego .title_img .img3 {
  position: absolute;
  left: 54px;
  top: -10px;
}
#sandiego .title_img .img4 {
  position: absolute;
  left: 81px;
  top: -10px;
}
#sandiego h4 {
  font-weight: 700;
  color: #021112;
}
#sandiego p {
  font-size: 0.75rem;
  color: #677071;
  line-height: 21px;
}

#customer {
  background-color: #FBEDDA;
}
#customer .customer_section {
  display: flex;
  align-items: center;
  padding: 110px 0;
}
#customer .customer_img {
  width: 45%;
  position: relative;
}
@media (max-width: 768px) {
  #customer .customer_img {
    display: none;
  }
}
#customer .customer_img img {
  width: 100%;
  position: absolute;
  top: -540px;
}
@media (max-width: 1050px) {
  #customer .customer_img img {
    left: -100px;
    top: -450px;
  }
}
#customer .customer_text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1050px) {
  #customer .customer_text {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #customer .customer_text {
    width: 80%;
    margin: 0 auto;
  }
}
#customer h3 {
  font-size: 1.01rem;
  color: #13A6BA;
  letter-spacing: 4px;
}
#customer h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 80px;
}
@media (max-width: 1160px) {
  #customer h1 {
    font-size: 2.8rem;
    line-height: 60px;
  }
}
#customer p {
  font-size: 1.1rem;
  color: #021112;
  line-height: 30px;
}
#customer h2 {
  font-size: 1.4rem;
  color: #021112;
  font-weight: 700;
}
#customer h4 {
  font-size: 1.05rem;
  color: #677071;
}

#home {
  margin: 290px 0;
}
#home .home_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1220px) {
  #home .home_section {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
#home .home_text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 1220px) {
  #home .home_text {
    align-items: center;
    width: 100%;
  }
}
#home h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 80px;
  width: 680px;
}
@media (max-width: 1160px) {
  #home h1 {
    font-size: 2.8rem;
    line-height: 60px;
  }
}
@media (max-width: 1220px) {
  #home h1 {
    width: 100%;
  }
}
#home p {
  font-size: 1.2rem;
  color: #677071;
  width: 540px;
}
@media (max-width: 1220px) {
  #home p {
    width: 100%;
  }
}
#home form {
  display: flex;
}
@media (max-width: 1220px) {
  #home form {
    width: 100%;
  }
}
#home form input {
  padding: 25px 35px;
  font-size: 1.1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
  border: 1px solid #13A6BA;
}
@media (max-width: 1220px) {
  #home form input {
    width: 100%;
  }
}
#home form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#footer .footer_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 768px) {
  #footer .footer_boxes {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
#footer p {
  padding-top: 50px;
  width: 300px;
  color: #677071;
}
@media (max-width: 768px) {
  #footer p {
    padding-top: 20px;
  }
}
@media (max-width: 350px) {
  #footer p {
    width: 95%;
  }
}
#footer h1 {
  color: #021112;
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  #footer h1 {
    padding-bottom: 20px;
  }
}
#footer h2 {
  width: 220px;
  color: #021112;
}
@media (max-width: 350px) {
  #footer h2 {
    width: 95%;
  }
}
#footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer a {
  color: #021112;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
